* {
	margin: 0;
	padding: 0;
}

body {
    background: #000000;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
}

#canvas-container{
    width: 100%;
    height: 100%;
}

#layout{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#logo{
  position: absolute;
  left: 60px;
  top: 30px;
  z-index: 2;
  transform: scale(2);
}

#github-corner {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  fill: #FFFFFF;
  opacity: 0.6;
}

#octo-arm {
    fill: #000000;
    transform-origin: 130px 106px;
}

#octo-body {
    fill: #000000;
    transform-origin: 130px 106px;
}

#github-corner:hover #octo-arm{
    animation: octocat-wave 560ms ease-in-out;
}

#footer{
  position: absolute;
  left: calc(50% - 79px);
  bottom: 20px;
  z-index: 2;
  color: #FFFFFF;
  font-size: 13px;
}

#footer :any-link{
  color: #FFFFFF;
}

@media (max-width:500px) {
    svg:hover #octo-arm {
        animation: none
    }
    svg:hover {
      animation: octocat-wave 560ms ease-in-out
    }
}
  @media (max-width:768px) {
    svg {
      width: 55px;
      height: 55px;
    }
}
  
@keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0)
    }
    20%,
    60% {
      transform: rotate(-25deg)
    }
    40%,
    80% {
      transform: rotate(10deg)
    }
}
  